body, .kix-appview-editor, .kix-page, .kix-page-content-wrapper {
    background-color: #1c1c1c;
  }
  
  body, .kix-appview-editor, .kix-page, .kix-page-content-wrapper, .kix-page-compact-renderer {
    color: white;
  }
  
  a, a:visited, .kix-hyperlink {
    color: #bb86fc;
  }
  
  .kix-menubar-wrapper {
    background-color: #121212;
  }
  
  .kix-menubar .docs-icon, .docs-material .docs-icon {
    color: white;
  }
  
  .kix-title {
    color: #bb86fc;
  }